body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* Crée une grille de 4x4 */
    grid-gap: 10px;
    margin-top: 20px;
    perspective: 1000px; /* Pour l'effet 3D lors du retournement */
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Cache le côté non visible */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.front-face {
    background-color: #3498db;
    color: white;
}

.back-face {
    background-color: #f39c12;
    transform: rotateY(180deg);
}

.game-info {
    margin-top: 15px;
    font-size: 1.2em;
}

#restart-button {
    margin-left: 20px;
    padding: 8px 15px;
    cursor: pointer;
}